- @semi_finished_details.each_with_index do |item, item_counter|
  - if @semi_finished.present?
    - if @semi_finished.semi_finished_details_list.present?
      - item_qty = @semi_finished.semi_finished_details_list(@semi_finished, item).qty
      - position = @semi_finished.semi_finished_details_list(@semi_finished, item).position
    - else
      - item_qty = 0
      - position = item_counter + 1
  -else
    - item_qty = 0
    - position = item_counter + 1
  - item_sum = Float(item.price) * Float(item_qty)
  %tr{class: 'item_details_line', 'data-position': position}
    %td{style: 'display: none'}
      = text_field_tag 'details[id][]', item.id, id: "item_id_#{item_counter}"
    %td{style: 'display: none'}
      -if item.class == Item
        = text_field_tag 'details[details_type][]', item.classify, id: "type_item_#{item_counter}"
    %td.position{style: 'text-align: center;'}
      = label_tag 'position', position, class: 'position-label'
      .position-menu
        .link-menu
          = link_to '', class: 'up_item_details', onclick: 'moveTrItemDetails(event, this, -1);' do
            %i.fa.fa-arrow-up
        .link-menu
          = link_to '', class: 'down_item_details', onclick: 'moveTrItemDetails(event, this, 1);' do
            %i.fa.fa-arrow-down
    %td
      = item.name
    %td.unit-field{'data-counter': item_counter, id: "unit_#{item_counter}"}
      = item.methods.include?(:unit) ? item.unit : 'шт'
    %td
      = number_field_tag 'details[qty][]', item_qty, step: 0.01, class: 'form-control calculated_field', id: "qty_#{item_counter}", 'data-counter': item_counter
    %td{id: "price_#{item_counter}"}
      = item.price.present? ? item.price : 0
    %td.sum_field{id: "sum_#{item_counter}", 'data-counter': item_counter}
      = item_sum
    %td{id: "remove_#{item_counter}", class: 'remove_row', 'data-counter': item_counter}



  -#-unless item_counter > 0
  -#  :coffee
  -#    # Вираховування загальної суми та ваги по item
  -#    @sumWeight = (sum_field, unit_field, weight_field) ->
  -#      i = 0
  -#      result = 0
  -#      percent = []
  -#      weight_result = 0
  -#      while i < sum_field.length
  -#        id = $(sum_field[i]).data('counter')
  -#        unit = $.trim($('#unit_' + id).text())
  -#        if $('#qty_' + $(weight_field[i]).data('counter')).val()
  -#          weight_result = weight_result + parseFloat($(weight_field[i]).val()) * parseFloat($('#qty_' + $(weight_field[i]).data('counter')).val())
  -#        if unit != "%"
  -#          result = result + parseFloat($(sum_field[i]).html())
  -#        else
  -#          percent.push({id: id, val: parseFloat($.trim($('#price_' + id).text()))})
  -#        i++
  -#      # Підрахунок процентних нарахувань з сумою по кожній позиції
  -#      i = 0
  -#      while i < percent.length
  -#        $('#sum_' + percent[i]['id']).html(((result / 100.0) * percent[i]['val']).toFixed(2))
  -#        result = result + (result / 100.0) * percent[i]['val']
  -#        i++
  -#      $('#item_weight').val(weight_result.toFixed(2))
  -#      $('#item_price').val(result.toFixed(2))
  -#
  -#    # Випадаюче меню для зміни position
  -#    $ ->
  -#      $('.position').hover (->
  -#        number = $(this).data('counter')
  -#        $('#position-menu_' + number).stop(true).queue 'fx', ->
  -#          $('#position-menu_' + number).toggle('normal').dequeue 'fx'
  -#          return)
  -#
  -#    # Переміщення елементів по позиціях
  -#    $ ->
  -#      $('.up_item_details').on 'click', (e) ->
  -#        e.preventDefault();
  -#        position = $(this).data('position')
  -#        if position == 1
  -#          return
  -#        else
  -#          element = $(this).closest('tr')
  -#          console.log $(this).closest('tr')
  -#          #%td.position{style: 'text-align: center;', 'data-counter': item_counter}
  -#          #  = label_tag 'position', position, name: 'details[position][]'
  -#          #  = text_field_tag 'details[position][]', position, {style: 'display: none;'}
  -#
  -#          new_position = position - 1
  -#          console.log 'new_position ' + new_position
  -#          $(element).attr("data-position", new_position);
  -#          $(element.prev()).attr("data-position", position);
  -#          element.insertBefore(element.prev())
  -#
  -#      $('.down_item_details').on 'click', (e) ->
  -#        e.preventDefault();
  -#        position = $(this).data('position')
  -#        if position == document.getElementsByClassName('item_details_line').length
  -#          return
  -#        else
  -#          element = $(this).closest('tr')
  -#          #element.data('position', (position + 1))
  -#          console.log element.next().data('position')
  -#          #element.next().data('position', (position - 1))
  -#          element.insertAfter(element.next())
  -#
  -#
  -#
  -#
  -#    $ ->
  -#      sum_field = document.getElementsByClassName('sum_field')
  -#      unit_field = document.getElementsByClassName('unit-field')
  -#      weight_field = document.getElementsByClassName('weight_class')
  -#      sumWeight(sum_field, unit_field, weight_field)
  -#
  -#      $('.calculated_field').on 'click', (e) ->
  -#        $(this).select()
  -#
  -#      $('.remove_row').on 'click', (e) ->
  -#        id = $(this).data('counter')
  -#        $(this).closest('tr').remove()
  -#
  -#      # внесено зміни до поля кількості
  -#      $('.calculated_field').on 'keyup', (e) ->
  -#        re = /[а-яА-Яa-zA-Z]/
  -#        if re.test($(this).val()) == false
  -#          # Вираховування суми позиції в якій змінено кількість
  -#          id = $(this).data('counter')
  -#          qty = $('#qty_' + id).val()
  -#          price = $('#price_' + id).html()
  -#          $('#sum_' + id).html((qty * price).toFixed(2))
  -#
  -#          sumWeight(sum_field, unit_field, weight_field)
  -#
  -#          if e.keyCode == 13
  -#            index = $(this).data('counter') + 1
  -#            $("input.calculated_field[data-counter='" + index + "']").select()
  -#
