%ul.nav.nav-tabs
  %li.nav-item.active
    = link_to t('administrate.tab_title.user'), '#user_administrations', class: 'nav-link active', 'data-toggle': 'tab'
  %li.nav-item
    = link_to t('administrate.tab_title.material'), '#material_administrations', class: 'nav-link', 'data-toggle': 'tab'
  %li.nav-item
    = link_to t('administrate.tab_title.job'), '#job_administrations', class: 'nav-link', 'data-toggle': 'tab'


.tab-content
  #user_administrations.tabs-class.tab-pane.fade.in.active
    = render partial: 'administration/user/index'
  #material_administrations.tabs-class.tab-pane.fade.in
    = render partial: 'administration/material/index'
  #job_administrations.tabs-class.tab-pane.fade.in
    = render partial: 'administration/job/index'
