.col-md-12
  - if @counterparty.id.present?
    = link_to counterparty_path(@counterparty.id), method: :delete, class: 'btn btn-default', title: 'Удалить', data: {confirm: 'Точно удалить?'} do
      %i.fa.fa-trash

= form_for @counterparty, html: {class: 'submit-form'} do |f|
  .col-xs-12
    .col-xs-6
      .form-group
        = f.label :name, 'Наименование'
        = f.text_field :name, class: 'form-control validate-field'
      .form-group
        = f.label :short_name, 'Короткое наименование'
        = f.text_field :short_name, class: 'form-control validate-field'
      .form-group
        = f.label :c_type, 'Тип контрагента'
        = f.select :c_type, ['Покупатель', 'Продавец'], {}, {class: 'form-control validate-field'}
      .form-group
        = f.submit 'Сохранить', class: 'btn btn-success'
        = link_to 'Отмена', root_path(active_tab: 'counterparty'), class: 'btn btn-danger'