.col-md-2
  .nav-menu
    %ul.nav.nav-pills.nav-stacked
      %li#order-manufacturing-li.tabs-class.active
        =link_to 'Наряды в производство' , '#order-manufacturing', :class =>'list-group-item', 'data-toggle' => 'tab', remote: true
      %li#payroll-li.tabs-class
        =link_to 'Зарплатные ведомости' , '#payroll', :class =>'list-group-item', 'data-toggle' => 'tab', remote: true
      %li#item-li.tabs-class
        =link_to 'Продукция' , '#item', :class =>'list-group-item', 'data-toggle' => 'tab', remote: true
      %li#job-li.tabs-class
        =link_to 'Работы' , '#job', :class =>'list-group-item', 'data-toggle' => 'tab', remote: true
      %li#worker-li.tabs-class
        =link_to 'Работники' , '#worker', :class =>'list-group-item', 'data-toggle' => 'tab', remote: true
      %li#counterparty-li.tabs-class
        =link_to 'Контрагенты' , '#counterparty', :class =>'list-group-item', 'data-toggle' => 'tab', remote: true


.tab-content
  #order-manufacturing.tabs-class.tab-pane.fade.in.active
    .col-md-10
      .add-new-button
        = link_to new_order_manufacturing_path, class: 'btn btn-default' do
          %i.fa.fa-plus-square
      #order-manufacturing-data
        = render 'order_manufacturings/table'


  #payroll.tabs-class.tab-pane.fade.in
    .col-md-10
      .add-new-button
        = link_to '#asd', class: 'btn btn-default' do
          %i.fa.fa-plus-square
      #payroll-data
        = render 'payrolls/table'


  #item.tabs-class.tab-pane.fade.in
    .col-md-10
      .add-new-button
        = link_to '#asd', class: 'btn btn-default' do
          %i.fa.fa-plus-square
      #item-data
        = render 'items/table'


  #job.tabs-class.tab-pane.fade.in
    .col-md-10
      .add-new-button
        = link_to '#asd', class: 'btn btn-default' do
          %i.fa.fa-plus-square
      #job-data
        = render 'jobs/table'


  #worker.tabs-class.tab-pane.fade.in
    .col-md-10
      .add-new-button
        = link_to '#asd', class: 'btn btn-default' do
          %i.fa.fa-plus-square
      #worker-data
        = render 'workers/table'


  #counterparty.tabs-class.tab-pane.fade.in
    .col-md-10
      .add-new-button
        = link_to new_counterparty_path, class: 'btn btn-default' do
          %i.fa.fa-plus-square
      #counterparty-data
        = render 'counterparties/table'

-#:javascript
-#  var order_manufacturings_path = "#{escape_javascript(order_manufacturings_path)}"
-#
-#:javascript
-#  var payrolls_path = "#{escape_javascript(payrolls_path)}"


:coffee
  $ ->
    active_id = window.location.search.substring(1).split('=')[1]
    if active_id != undefined
      $('.tabs-class').removeClass('active')
      $('#' + active_id).addClass('active')
      $('#' + active_id + '-li').addClass('active')
