.col-md-12
  .col-md-12
    .col-md-6
      - o_m_materials_price = 0
      - o_m_jobs_price = 0

      -@o_m.used_materials.each do |material|
        - o_m_materials_price = o_m_materials_price + material[0].price * material[1]
      -@o_m.used_jobs.each do |job|
        - o_m_jobs_price = o_m_jobs_price + job[0].price * job[1]
      - o_m_jobs_taxes = (@o_m.payroll_taxes.present? ? ((@o_m.payroll_taxes / 100) * o_m_jobs_price).round(2) : (0.22 * o_m_jobs_price).round(2))
      - o_m_indirect_costs = (@o_m.indirect_costs .present? ? ((@o_m.indirect_costs  / 100) * (@o_m.price + o_m_jobs_taxes)).round(2) : (0.16 * (@o_m.price + o_m_jobs_taxes)).round(2))
      - o_m_extra_charge = (@o_m.extra_charge .present? ? (((@o_m.extra_charge  / 100) ) * (@o_m.price + o_m_jobs_taxes + o_m_indirect_costs)).round(2) : (0.25 * (@o_m.price + o_m_jobs_taxes + o_m_indirect_costs)).round(2))
      - o_m_total_price = (@o_m.price + o_m_jobs_taxes + o_m_indirect_costs + o_m_extra_charge).round(2)



      - if @o_m.id.present?
        = link_to copy_o_m_path(@o_m.id), class: 'btn btn-default', title: 'Копировать' do
          %i.fa.fa-clone
        = link_to order_manufacturing_path(@o_m.id), method: :delete, class: 'btn btn-danger', title: 'Удалить', data: {confirm: 'Точно удалить?'} do
          %i.fa.fa-trash
        = link_to o_m_automatic_print_path(@o_m.id), id: 'o_m_automatic_print', class: 'btn btn-default',  title: 'Печать с АВТОМАТИЧЕСКИМ объединением' do
          %i.fa.fa-print
          %i.fa.fa-laptop
          = link_to 'Используемые материалы', o_m_used_materials_path(@o_m.id), class: 'btn btn-default', 'data-toggle': 'modal', 'data-target': '#used-material-modal', remote: true
          = link_to 'Используемые работы', o_m_used_jobs_path(@o_m.id), class: 'btn btn-default', 'data-toggle': 'modal', 'data-target': '#used-jobs-modal', remote: true
        - unless @o_m.o_m_status == 0
          = link_to 'Без статуса', o_m_change_status_path(@o_m.id, o_m_status: 0), class: 'btn btn-default', method: :put, data: {confirm: 'Материалы будут ВОЗВРАЩЕНЫ на склад!'}
        - unless @o_m.o_m_status == 1
          = link_to 'В работу', o_m_change_status_path(@o_m.id, o_m_status: 1), class: 'btn btn-danger', method: :put, data: {confirm: 'Материалы будут СПИСАНЫ со склада!'}
        - unless @o_m.o_m_status == 2
          = link_to 'Готов', o_m_change_status_path(@o_m.id, o_m_status: 2), class: 'btn btn-warning', method: :put
        - unless @o_m.o_m_status == 3
          = link_to 'Отгружен', o_m_change_status_path(@o_m.id, o_m_status: 3), class: 'btn btn-success', method: :put

    .col-md-6
      .col-md-6
        .col-md-12
          = label_tag :cost_price, "Себестоимость: ", class: 'summ_materials_jobs'
          = label_tag :cost_price, "#{@o_m.price.round(2)}", class: 'summ_materials_jobs'
        .col-md-12
          = label_tag :materials_price, "Стоимость материалов: ", class: 'summ_materials_jobs'
          = label_tag :materials_price, "#{o_m_materials_price.round(2)}", class: 'summ_materials_jobs'
        .col-md-12
          = label_tag :indirect_costs_price, "Косвенные затраты: ", class: 'summ_materials_jobs'
          = label_tag :indirect_costs_price, "#{o_m_indirect_costs.round(2)}", class: 'summ_materials_jobs'
        .col-md-12
          = label_tag :extra_charge_price, "Сумма наценки: ", class: 'summ_materials_jobs'
          = label_tag :extra_charge_price, "#{o_m_extra_charge.round(2)}", class: 'summ_materials_jobs'
      .col-md-6
        .col-md-12
          = label_tag :jobs_taxes_price, "Стоимость работы: ", class: 'summ_materials_jobs'
          = label_tag :jobs_taxes_price, "#{o_m_jobs_price.round(2) + o_m_jobs_taxes.round(2)}", class: 'summ_materials_jobs'
        .col-md-12
          = label_tag :jobs_price, "Стоимость работы без налогов: ", class: 'summ_materials_jobs'
          = label_tag :jobs_price, "#{o_m_jobs_price.round(2)}", class: 'summ_materials_jobs'
        .col-md-12
          = label_tag :jobs_taxes, "Налоги на работы: ", class: 'summ_materials_jobs'
          = label_tag :jobs_taxes, "#{o_m_jobs_taxes.round(2)}", class: 'summ_materials_jobs'
          %p
= form_for @o_m, html: {class: 'submit-form'} do |f|
  .col-md-6
    .col-md-12
      .form-group
        = f.label :counterparty, 'Контрагент'
        = link_to '', id: 'add_counterparty_detail', remote: true, class: 'add_new_entity', 'data-toggle': 'modal', 'data-target': '#counterparties-modal' do
          = text_field_tag :counterparty, @o_m.counterparty.present? ? @o_m.counterparty.name : nil, class: 'form-control validate-field', name: 'order_manufacturing[counterparty]', id: 'counterparty',
          autocomplete: :off
    .col-md-12{style: 'margin-left: -15px; padding-right: 0;'}
      .col-md-3
        .form-group
          = f.label :number, 'Номер'
          = f.text_field :number, class: 'form-control validate-field', autocomplete: :off
      .col-md-3
        .form-group
          = f.label :start_date, 'Дата начала'
          = f.text_field :start_date, value: (@o_m.start_date.present? ? @o_m.start_date : Time.now.strftime('%d.%m.%Y')), class: 'form-control validate-field'
      .col-md-3
        .form-group
          = f.label :finish_date, 'Дата выполнения'
          = f.text_field :finish_date, value: (@o_m.finish_date.present? ? @o_m.finish_date : Time.now.strftime('%d.%m.%Y')), class: 'form-control validate-field'
      .col-md-3
        .form-group
          = f.label :invoice, 'Счет'
          = f.text_field :invoice, class: 'form-control', autocomplete: :off
      .col-md-3{style: 'padding-right: 0;'}
        .form-group
          = f.label :price, 'Стоимость заказа'
          = f.number_field :price, class: 'form-control', step: 0.01, value: o_m_total_price

    .col-md-12{style: 'margin-left: -15px; padding-right: 0;'}
      .col-md-3
        .form-group
          = f.label :weight, 'Вес'
          = f.number_field :weight, class: 'form-control', step: 0.001, autocomplete: :off
      .col-md-3
        .form-group
          = f.label :volume, 'Объем'
          = f.number_field :volume, class: 'form-control', step: 0.0000001, autocomplete: :off
      .col-md-3
        .form-group
          = f.label :total_price, 'Полная стоимость проекта'
          = f.number_field :total_price, class: 'form-control', step: 0.01, autocomplete: :off
      .col-md-3
        .form-group
          = f.label :con_pay, 'Контрагент оплатил'
          = f.number_field :con_pay, class: 'form-control', step: 0.01, autocomplete: :off
    .col-md-12
      .form-group
        = f.label :note, 'Примечание'
        = f.text_area :note, class: 'form-control'
  .col-md-6
    .col-md-12
      .col-md-3
        .form-group
          = f.label :extra_charge, 'Наценка'
          = f.number_field :extra_charge, value: (@o_m.extra_charge.present? ? @o_m.extra_charge : 25.00), class: 'form-control validate-field', step: 0.01, autocomplete: :off
      .col-md-3
        .form-group
          = f.label :indirect_costs, 'Косвенные затраты'
          = f.number_field :indirect_costs, value: (@o_m.indirect_costs.present? ? @o_m.indirect_costs : 16.00), class: 'form-control validate-field', step: 0.01, autocomplete: :off
      .col-md-3
        .form-group
          = f.label :payroll_taxes, 'Налоги на ЗП'
          = f.number_field :payroll_taxes, value: (@o_m.payroll_taxes.present? ? @o_m.payroll_taxes : 22.00), class: 'form-control validate-field', step: 0.01, autocomplete: :off

  .col-md-6
    .form-group
      - @o_m.o_m_files.each_with_index do |o_m_file, index|
        .col-md-6
          = link_to o_m_file.identifier, o_m_file.url, target: :_blank
        .col-md-6
          = link_to "Удалить", remove_file_from_o_m_path(@o_m.id, file_index: index), class: 'btn btn-default', method: :put, data: { confirm: "Удалить?" }
    .col-md-12
      = f.file_field :o_m_files, multiple: true

  .col-md-12
    .add-new-button
      = link_to '', id: 'add_o_m_detail', remote: true, class: 'btn btn-default add_new_entity', 'data-toggle': 'modal', 'data-target': '#o_m-details-modal' do
        %i.fa.fa-plus-square
          Добавить изделия
  .col-md-12.table-style.hidden-element
    %table#o_m-details-table{cellspacing: '1', cellpadding: '1', border: '1', width: '100%'}
      %thead
        %tr
          %th.table-2 №
          %th.table-45 Наименование
          %th.table-10 ед.изм.
          %th.table-10 Количество
          %th.table-10 Цена
          %th.table-10 Сумма
          %th.table-5 Удалить
      %tbody#o_m-details-table-body
        -if @o_m_details.present?
          = render partial: 'o_m_detail'

  .col-md-12
    .form-group
      = f.submit 'Сохранить и выйти', class: 'btn btn-success'
      = f.submit 'Сохранить', class: 'btn btn-success'
      = link_to 'Отмена', root_path(active_tab: 'order_manufacturing'), class: 'btn btn-danger'

/модальне вікно для додавання до таблиці продукції
#o_m-details-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_o_m_detail_path, remote: true, method: :get, id: 'o_m_details_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title Добавить
        .modal-body
          %table#o_m-details-datatable.display.datatable-table{'data-source': o_m_details_datatable_url(format: 'json')}
            %thead
              %th.table-4 V
              %th.table-40 Наименование
              %th.table-10 Ед. измерения
            %tbody
        .modal-footer
          = link_to 'Добавить', '#',class: 'btn btn-success', remote: true, 'data-dismiss': 'modal',
            onclick: "$('#o_m_details_form').submit()"
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

/модальне вікно для додавання контрагента
#counterparties-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_counterparty_path, remote: true, method: :get, id: 'o_m_counterparty_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title Добавить
        .modal-body
          %table#counterparties-o_m-datatable.display.datatable-table{'data-source': o_m_counterparty_datatable_url(format: 'json')}
            %thead
              %th.table-10 V
              %th.table-45 Наименование
              %th.table-45 Короткое наименование
              %th.table-10 Тип
            %tbody
        .modal-footer
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

-#модальне вікно використовуваного матерілу
#used-material-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} ×
        %h4.modal-title Добавить
      .modal-body
        .col-md-12
          %table.table-materials-jobs-style
            %thead
              %th.table-10 №
              %th.table-45 Наименование
              %th.table-10 Ед. изм.
              %th.table-10 Количество
            %tbody#o_m-used-materials-table-body
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

-#модальне вікно використовуваного матерілу
#used-jobs-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} ×
        %h4.modal-title Добавить
      .modal-body
        .col-md-12
          %table.table-materials-jobs-style
            %thead
              %th.table-10 №
              %th.table-45 Наименование
              %th.table-10 Количество
              %th.table-10
            %tbody#o_m-used-jobs-table-body
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

-#- if @o_m.id.present?
-#  /модальне вікно для вибору об'єднання однакових виробів пуд час друку
-#  #o_m_details_pre_print-modal.modal.fade{:role => 'dialog'}
-#    .modal-dialog
-#      .modal-content
-#        = form_tag(o_m_hand_print_path(@o_m.id), method: :get, id: 'o_m_details_pre_print_form') do
-#          = text_area_tag('item_arr_to_print', '', {hidden: true})
-#          .modal-header
-#            %button.close{'data-dismiss': 'modal', type: 'button'} ×
-#            %h4.modal-title Сортировать
-#          .modal-body
-#            = check_box_tag('check_all_check_box', 1, false, {class: 'o_m_details_pre_print-class'})
-#            = label_tag('check_box_label', 'Выбрать все', class: 'checkbox-inline')
-#            %table#o_m_details_pre_print_form-datatable.display.datatable-table{'data-source': o_m_details_pre_print_datatable_url(@o_m.present? ? @o_m.id : nil ,format: 'json')}
-#              %thead
-#                %th.table-4 V
-#                %th.table-40 Наименование
-#                %th.table-10 Ед. измерения
-#                %th.table-10 Количество
-#              %tbody
-#          .modal-footer
-#            = link_to 'Печать', '#',class: 'btn btn-success', 'data-dismiss': 'modal',
-#              onclick: "$('#o_m_details_pre_print_form').submit()"
-#            %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close


:coffee
  # Вираховування загальної суми та ваги по item
  #  @sumWeight = (sum_field, weight_field) ->
  #    i = 0
  #    result = 0
  #    weight_result = 0
  #    while i < sum_field.length
  #      id = $(sum_field[i]).data('counter')
  #      unit = $.trim($('#unit_' + id).text())
  #      if $('#qty_' + $(weight_field[i]).data('counter')).val()
  #        weight_result = weight_result + parseFloat($(weight_field[i]).val()) * parseFloat($('#qty_' + $(weight_field[i]).data('counter')).val())
  #        result = result + parseFloat($(sum_field[i]).html())
  #      i++
  #    # Підрахунок процентних нарахувань з сумою по кожній позиції
  #    console.log(weight_result)
  #    console.log(result)
  #    $('#order_manufacturing_weight').val(weight_result.toFixed(2))
  #    $('#order_manufacturing_price').val(result.toFixed(2))
  #
  #  sum_field = document.getElementsByClassName('sum_field')
  #  weight_field = document.getElementsByClassName('weight_class')
  #  sumWeight(sum_field, weight_field)

  @itemDetailsIds = () ->
    return $('.item_id_class').map(-> $(this).val()).get()


  #Підготовка даних до друку в Excel
  @arrayToPrint = () ->
    cycleToFor = $('.o_m_details_pre_print-class').length
    printArray = []
    checkedArray = []
    i = 0

    # створення масиву даних з об'єднаними виробами для друку
    while i < cycleToFor
      if $('#id_check_' + i.toString()).is(':checked') == true
        checkedArray.push [$('#id_check_' + i.toString()).data('id'), $('#id_check_' + i.toString()).data('class'), $('#id_check_' + i.toString()).data('qty')]
      else
        printArray.push [$('#id_check_' + i.toString()).data('id'), $('#id_check_' + i.toString()).data('class'), $('#id_check_' + i.toString()).data('qty')]
      j = i + 1

      loop
        if $('#id_check_' + i.toString()).data("class") == $('#id_check_' + j.toString()).data('class')
          if $('#id_check_' + i.toString()).data("id") == $('#id_check_' + j.toString()).data('id')
            if $('#id_check_' + j.toString()).is(':checked') == true
              if checkedArray.length > 0
                checkedArray[0][2] = parseFloat(checkedArray[0][2]) + parseFloat($('#id_check_' + j.toString()).data('qty'))
              else
                checkedArray.push [$('#id_check_' + j.toString()).data('id'), $('#id_check_' + j.toString()).data('class'), $('#id_check_' + j.toString()).data('qty')]
            else
              printArray.push [$('#id_check_' + j.toString()).data('id'), $('#id_check_' + j.toString()).data('class'), $('#id_check_' + j.toString()).data('qty')]
          else
            i = j - 1
            j = cycleToFor
            if checkedArray.length > 0
              printArray.push checkedArray[0]
            checkedArray = []
        else
          i = j - 1
          j = cycleToFor
          if checkedArray.length > 0
            printArray.push checkedArray[0]
          checkedArray = []

        j++
        unless j < cycleToFor
          break
      i++

    $('#item_arr_to_print').val(printArray)
    return

  $ ->
    # Масив усіх елементів для об'єднання

    $('body').on 'click', 'table#counterparties-o_m-datatable tr', (event) ->
      event.stopPropagation()
      elem = document.getElementById($(this).find(':radio:eq(0)').attr('id'))
      elem.click()

    $('#order_manufacturing_start_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#order_manufacturing_finish_date').datepicker({dateFormat: 'dd.mm.yy'})


    $('body').on 'click', '.datatable-radio', (event) ->
      event.stopPropagation()
      elem = document.getElementById(this.id)
      $('#o_m_counterparty_form').submit()


    # створення масиву даних з об'єднаними виробами для друку
    $('body').on 'click', ':checkbox', (event) ->
      event.stopPropagation()
      arrayToPrint()

    # $('body').on 'submit', '#o_m_automatic_print_form', (event) ->
    $('body').on 'submit', '#o_m_details_pre_print_form', (event) ->
      arrayToPrint()

    # Ініціалізація datatable
    window.omDetailsTable = $('#o_m-details-datatable').DataTable
      bServerSide: true
      "language": window.dataTableJson
      ajax:
        url: $('#o_m-details-datatable').data('source')
        dataType: 'json'
        cache: false
        type: 'GET'
        data: (d) ->
          myData = {ids: itemDetailsIds()}
          if myData
            $.extend d, myData
          return

    # Ініціалізація datatable
    window.omPrePrintDetailsTable = $('#o_m_details_pre_print_form-datatable').DataTable
      bServerSide: true
      "language": window.dataTableJson
      searching: false
      ajax:
        url: $('#o_m_details_pre_print_form-datatable').data('source')
        dataType: 'json'
        cache: false
        type: 'GET'
        data: (d) ->
          myData = $('#o_m_details_pre_print').data('id')


    $('#counterparties-o_m-datatable').DataTable
      bServerSide: true
      "language": window.dataTableJson
      ajax:
        url: $('#counterparties-o_m-datatable').data('source')
        dataType: 'json'
        cache: false
        type: 'GET'
        data: (d) ->
          myData = {ids: itemDetailsIds()}
          if myData
            $.extend d, myData
          return



    # Перезавантаження даних до таблиць details для item
    $('#add_o_m_detail').click ->
      window.omPrePrintDetailsTable.ajax.reload()

    $('#o_m_details_pre_print').click ->
      window.omDetailsTable.ajax.reload()

    $('form').on 'keypress', (e) ->
      if e.keyCode == 13
        return false

    #Відмітити всі check_box на сторінці
    $('#check_all_check_box').click ->
      # $('#o_m_automatic_print_form')
      $('.o_m_details_pre_print-class').prop('checked', this.checked)

    $('.calculated_field').on 'click', (e) ->
      $(this).select()

    # внесено зміни до поля кількості
    $('.calculated_field').on 'keyup', (e) ->
      re = /[а-яА-Яa-zA-Z]/
      if re.test($(this).val()) == false
        # Вираховування суми позиції в якій змінено кількість
        id = $(this).data('counter')
        qty = $('#qty_' + id).val()
        price = $('#price_' + id).html()
        $('#sum_' + id).html((qty * price).toFixed(2))
        sumWeight(sum_field, weight_field)

        if e.keyCode == 13
          index = $(this).data('counter') + 1
          $("input.calculated_field[data-counter='" + index + "']").select()
