%h1
  .col-md-12{style: '  padding-bottom: 25px'}
    - case @o_m.o_m_status
      - when 0
        .no-status-text
          = "#{t('all_form.edit')} '#{@o_m.number}'. #{t('o_m.order')} #{t('o_m.no_status')}"
      - when 1
        .in-work-status-text
          = "#{t('all_form.edit')} '#{@o_m.number}'. #{t('o_m.order')} #{t('o_m.in_progress')}"
      - when 2
        .finished-status-text
          = "#{t('all_form.edit')} '#{@o_m.number}'. #{t('o_m.order')} #{t('o_m.done')}"
      - when 3
        .shipped-status-text
          = "#{t('all_form.edit')} '#{@o_m.number}'. #{t('o_m.order')} #{t('o_m.shipped')}"
.col-md-12
  = render 'form'