.container
  .row
    .col-md-12
      %table#item.display
        %thead
          %th Дата
          %th Номер
          %th Контрагент
          %th Счет
        %tbody
          -@order_manufacturings.each_with_index do |o_m, index|
            %tr
              %td
                = o_m.date
              %td
                = o_m.number
              %td
                = o_m.counterparty.name
              %td
                = o_m.invoice

= paginate @order_manufacturings, theme: 'twitter-bootstrap-3', param_name: :upcoming_page, remote: true

