= form_for @item do |f|
  .col-md-12
    .col-md-12
      .col-md-6
        .form-group
          = f.label :name, 'Наименование'
          = f.text_field :name, class: 'form-control'
    .col-md-6
      .col-md-4
        .form-group
          = f.label :area, 'Площадь'
          = f.number_field :area, step: 0.01, class: 'form-control'
        .form-group
          = f.label :volume, 'Объем'
          = f.number_field :volume, step: 0.001, class: 'form-control'
      .col-md-4
        .form-group
          = f.label :item_type, 'Тип'
          = f.select :item_type, [['Стеллаж', 0], ['Материал', 1], ['Полуфабрикат', 2]], {}, {class: 'form-control'}
        .form-group
          = f.label :weight, 'Вес'
          = f.number_field :weight, step: 0.01, class: 'form-control'
      .col-md-4
        .form-group
          = f.label :unit, 'Ед. измерения'
          = f.select :unit, [['шт', 0], ['м/п', 1], ['кг', 2], ['%', 3]], {}, {class: 'form-control'}
        .form-group
          = f.label :price, 'Цена'
          = f.number_field :price, step: 0.01, class: 'form-control', value: 0
  .col-md-12.hidden-element
    .add-new-button
      = link_to '', id: 'add-item-details-to-item', remote: true, class: 'btn btn-default add_new_entity', 'data-toggle': 'modal', 'data-target': '#item-details-modal' do
        %i.fa.fa-plus-square
  .col-md-12.table-style.hidden-element
    %table#item-details-table{cellspacing: '1', cellpadding: '1', border: '1', width: '100%'}
      %thead
        %tr
          %th.table-45 Наименование
          %th.table-10 ед.изм.
          %th.table-10 Количество
          %th.table-10 Цена
          %th.table-15 Сумма
          %th.table-5 Удалить
      %tbody#item-details-table-body{'data-ids': []}
        -if @item_details.present?
          = render @item_details


  .col-md-12
    .form-group
      = button_tag 'Сохранить', class: 'btn btn-success'
      = link_to 'Отмена', root_path(active_tab: 'item'), class: 'btn btn-danger'

/модальне вікно для додавання до таблиці продукції
#item-details-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_item_detail_path, remote: true, method: :get, id: 'item_details_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title Добавить
        .modal-body
          %table#item-details-datatable.display.datatable-table{'data-source': item_details_datatable_url(format: 'json')}
            %thead
              %th.table-4 V
              %th.table-40 Наименование
              %th.table-10 Ед. измерения
              %th.table-15 Тип
              %th.table-15 Цена
              %th.table-15 Вес
            %tbody
        .modal-footer
          = link_to 'Добавить', '#',class: 'btn btn-success', remote: true, 'data-dismiss': 'modal',
            onclick: "$('#item_details_form').submit()"
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close



:coffee
  $ ->
    window.itemDetailsTable = $('#item-details-datatable').DataTable
      bServerSide: true
      "language": window.dataTableJson
      ajax:
        url: $('#item-details-datatable').data('source')
        dataType: 'json'
        cache: false
        type: 'GET'
        data: (d) ->
          myData = {ids: $('#item-details-table-body').data('ids')}
          if myData
            $.extend d, myData
          return

    $('#add-item-details-to-item').click ->
      window.itemDetailsTable.ajax.reload()

    $('#item_item_type').change ->
      if $(this).val() == '1'
        $('.hidden-element').css('display': 'none')
      else
        if $('#item_unit').val() != '3'
          $('.hidden-element').css('display': 'block')


    $('#item_unit').change ->
      if $(this).val() == '3'
        $('.hidden-element').css('display': 'none')
      else
        if $('#item_item_type').val() != '1'
          $('.hidden-element').css('display': 'block')


    $('form').on 'keypress', (e) ->
      if e.keyCode == 13
        return false


