= form_for @item do |f|
  .col-md-12
    .col-md-12
      .col-md-6
        .form-group
          = f.label :name, 'Наименование'
          = f.text_field :name, class: 'form-control'
    .col-md-6
      .col-md-4
        .form-group
          = f.label :area, 'Площадь'
          = f.number_field :area, step: 0.01, class: 'form-control'
        .form-group
          = f.label :volume, 'Объем'
          = f.number_field :volume, step: 0.001, class: 'form-control'
      .col-md-4
        .form-group
          = f.label :item_type, 'Тип'
          = f.select :item_type, [['Стеллаж', 0], ['Материал', 1], ['Полуфабрикат', 2]], {}, {class: 'form-control'}
        .form-group
          = f.label :weight, 'Вес'
          = f.number_field :weight, step: 0.01, class: 'form-control'
      .col-md-4
        .form-group
          = f.label :unit, 'Ед. измерения'
          = f.select :unit, [['шт', 0], ['м/п', 1], ['кг', 2], ['%', 3]], {}, {class: 'form-control'}
        .form-group
          = f.label :price, 'Цена'
          = f.number_field :price, step: 0.01, class: 'form-control'
  .col-md-12
    .add-new-button
      = link_to '', remote: true, class: 'btn btn-default', 'data-toggle': 'modal', 'data-target': '#item-details-modal' do
        %i.fa.fa-plus-square
  .col-md-12.table-style
    %table{cellspacing: '1', cellpadding: '1', border: '1', width: '100%'}
      %thead
        %tr
          %th.table-10 № п/п
          %th.table-45 Наименование
          %th.table-10 ед.изм.
          %th.table-10 Количество
          %th.table-10 Цена
          %th.table-15 Сумма
      %tbody#item-table-body
        -if @item_details.present?
          - @item_details.each do |item_detail|
            = item_detail

  .col-md-12
    .form-group
      = button_tag 'Сохранить', class: 'btn btn-success'
      = link_to 'Отмена', root_path(active_tab: 'item'), class: 'btn btn-danger'


#item-details-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} ×
        %h4.modal-title Добавить
      .modal-body
        %table#item-table.display.datatable-table{'data-source': items_url(format: 'json', modal: true)}
          %thead
            %th.table-5 V
            %th.table-40 Наименование
            %th.table-10 Ед. измерения
            %th.table-15 Тип
            %th.table-15 Цена
            %th.table-15 Вес
          %tbody
      .modal-footer
        = link_to 'Добавить', add_item_detail_path, class: 'btn btn-success', remote: true, 'data-dismiss': 'modal', method: :post
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
