.col-md-12
  .col-md-2
    - if @item.id.present?
      = link_to copy_item_path(@item.id), class: 'btn btn-default', title: t('all_form.copy') do
        %i.fa.fa-clone
      = link_to item_path(@item.id), method: :delete, class: 'btn btn-default', title: t('all_form.delete'), data: {confirm: t('all_form.confirm_delete')} do
        %i.fa.fa-trash
      = link_to t('all_form.include_in'), item_inclusions_item_path, class: 'btn btn-default', title: t('all_form.include_in'),
       remote: true, 'data-toggle': 'modal', 'data-target': '#item-inclusions-modal'
      = hidden_field_tag('item_id', @item.id)

= form_for @item, action: new_item_path(copyied: @copyied), html: {class: 'submit-form', data: {id: @item.id}, name: 'item_form'} do |f|
  .col-md-12
    .col-md-12
      .col-md-6
        .form-group
          = f.label :name, t('all_form.name')
          = f.text_field :name, class: "form-control validate-field #{flash[:class_element]}"
    .col-md-12
      .col-md-3
        .form-group
          = f.label :unit, t('all_form.unit')
          = f.select :unit, ['шт', 'м/п', 'кг', 'комп.'], {}, {class: 'form-control validate-field'}
        .form-group
          = f.label :area, t('all_form.area')
          = f.number_field :area, class: 'form-control', step: 0.00001, autocomplete: :off
        .form-group
          = f.label :weight, t('all_form.weight')
          = f.number_field :weight, class: 'form-control', step: 0.0001, autocomplete: :off
        .form-group
          = f.label :volume, t('all_form.volume')
          = f.number_field :volume, class: 'form-control', step: 0.00000001, autocomplete: :off
      .col-md-3
        .form-group
          = f.label :size_l, t('all_form.size_l')
          = f.number_field :size_l, class: 'form-control', step: 1, autocomplete: :off
        .form-group
          = f.label :size_a, t('all_form.size_a')
          = f.number_field :size_a, class: 'form-control', step: 1, autocomplete: :off
        .form-group
          = f.label :size_b, t('all_form.size_b')
          = f.number_field :size_b, class: 'form-control', step: 1, autocomplete: :off
        .form-group
          = f.label :item_group, t('all_form.item_group')
          = link_to '', id: 'add_item_group_detail', remote: true, class: 'add_new_entity', 'data-toggle': 'modal', 'data-target': '#items_group-modal' do
            = text_field_tag :item_group, @item.item_group.present? ? @item.item_group.name : nil,
            class: 'form-control validate-field', name: 'item[item_group]', id: 'item_group', autocomplete: :off, readonly: true
      .col-md-4
        .form-group
          - @item.item_files.each_with_index do |item_file, index|
            .col-md-12
              .col-md-6
                = link_to item_file.identifier, item_file.url, target: :_blank
              .col-md-6
                = link_to t('all_form.delete'), remove_file_from_item_path(@item.id, file_index: index), class: 'btn btn-default', method: :put, data: { confirm: t('all_form.confirm_delete') }
          .col-md-12
            .col-md-6
              = f.file_field :item_files, multiple: true
    .col-md-12
      .form-group
        = f.check_box :print_in_collection
        = f.label :print_in_collection, t('all_form.print_in_collection')
  .col-md-12.hidden-element
    .add-new-button
      = link_to '', id: 'add-material-details-to-item', remote: true, class: 'btn btn-default add_new_entity', 'data-toggle': 'modal', 'data-target': '#materials-modal' do
        %i.fa.fa-plus-square
          = t('all_form.add_material')
      = link_to '', id: 'add-item-details-to-item', remote: true, class: 'btn btn-default add_new_entity', 'data-toggle': 'modal', 'data-target': '#items-modal' do
        %i.fa.fa-plus-square
          = t('all_form.add_items')
      = link_to '', id: 'add-job-details-to-item', remote: true, class: 'btn btn-default add_new_entity', 'data-toggle': 'modal', 'data-target': '#jobs-modal' do
        %i.fa.fa-plus-square
          = t('all_form.add_jobs')
  .col-md-12.table-style.hidden-element
    %table#item-details-table{cellspacing: '1', cellpadding: '1', border: '1', width: '100%'}
      %thead
        %tr
          %th.table-2 №
          %th.table-45
            = t('all_form.name')
          %th
            = t('all_form.type')
          %th.table-10
            = t('all_form.unit_short')
          %th.table-10
            = t('all_form.qty')
          %th.table-10
            = t('all_form.price')
          %th.table-15
            = t('all_form.sum')
          %th.table-2
            = t('all_form.print')
          %th.table-5
            = t('all_form.delete')
      %tbody#item-details-table-body
        -if @item_details.present?
          = render partial: 'item_detail'


  .col-md-12
    .form-group
      = f.submit t('all_form.save_out'), class: 'btn btn-success'
      = f.submit t('all_form.save'), class: 'btn btn-success'
      = link_to t('all_form.cancel'), cancel_button_path(returning_entity: 'item'), class: 'btn btn-danger'

= render partial: 'layouts/modal_item_inclusions'

/модальне вікно для додавання продукції до таблиці продукції
#items-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_item_detail_path(entity: :item), remote: true, method: :get, id: 'item_details_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title
            = t('all_form.add')
        .modal-body
          %table#item-details-datatable.display.datatable-table{'data-source': item_details_datatable_url(format: 'json')}
            %thead
              %th.table-4 V
              %th.table-40
                = t('all_form.name')
              %th.table-10
                = t('all_form.unit')
            %tbody
        .modal-footer
          = link_to t('all_form.add'), '#',class: 'btn btn-success', remote: true, 'data-dismiss': 'modal',
            onclick: "$('#item_details_form').submit()"
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

/модальне вікно для додавання матеріалів до таблиці продукції
#materials-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_item_detail_path(entity: :material), remote: true, method: :get, id: 'material_details_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title
            = t('all_form.add')
        .modal-body
          %table#material-details-datatable.display.datatable-table{'data-source': item_material_datatable_url(format: 'json')}
            %thead
              %th.table-4 V
              %th.table-40
                = t('all_form.name')
              %th.table-10
                = t('all_form.unit')
            %tbody
        .modal-footer
          = link_to t('all_form.add'), '#',class: 'btn btn-success', remote: true, 'data-dismiss': 'modal', id: 'submit_materials_form',
            onclick: "$('#material_details_form').submit()"
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

/модальне вікно для додавання до таблиці робот
#jobs-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_item_detail_path(entity: :job), remote: true, method: :get, id: 'job_details_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title
            = t('all_form.add')
        .modal-body
          %table#job-details-datatable.display.datatable-table{'data-source': job_details_datatable_url(format: 'json')}
            %thead
              %th.table-4 V
              %th.table-40
                = t('all_form.name')
              %th.table-10
                = t('all_form.price')
              %th.table-15
                = t('all_form.time')
              %th.table-15
                = t('all_form.print')
            %tbody
        .modal-footer
          = link_to t('all_form.add'), '#',class: 'btn btn-success', remote: true, 'data-dismiss': 'modal',
            onclick: "$('#job_details_form').submit()"
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

/модальне вікно для додавання групи виробу
#items_group-modal.modal.fade{:role => 'dialog'}
  .modal-dialog
    .modal-content
      = form_tag(add_item_group_path, remote: true, method: :get, id: 'item_item_group_form') do
        .modal-header
          %button.close{'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title
            = t('all_form.add')
        .modal-body
          %table#items_item_group_datatable.display.datatable-table{'data-source': item_item_group_datatable_url(format: 'json')}
            %thead
              %th.table-10 V
              %th.table-45
                = t('all_form.name')
              %th.table-45
                = t('all_form.rank')
            %tbody
        .modal-footer
          %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

:coffee
  $('body').on 'click', 'table#material-details-datatable tr', (event) ->
    event.stopPropagation()
    elem = document.getElementById($(this).find(':radio:eq(0)').attr('id'))
    elem.click()

  #Функція вираховування суми та ваги по item
  #  @sumWeight = (sum_field, unit_field, weight_field) ->
  #    if $('#item_item_type').val() == 'Материал'
  #      return
  #    else
  #      i = 0
  #      result = 0
  #      percent = []
  #      weight_result = 0
  #      while i < sum_field.length
  #        id = $(sum_field[i]).data('counter')
  #        unit = $.trim($('#unit_' + id).text())
  #        if $('#qty_' + $(weight_field[i]).data('counter')).val()
  #          weight_result = weight_result + parseFloat($(weight_field[i]).val()) * parseFloat($('#qty_' + $(weight_field[i]).data('counter')).val())
  #        if unit != "%"
  #          result = result + parseFloat($(sum_field[i]).html())
  #        else
  #          percent.push({id: id, val: parseFloat($.trim($('#price_' + id).text()))})
  #        i++
  #      # Підрахунок процентних нарахувань з сумою по кожній позиції
  #      i = 0
  #      while i < percent.length
  #        $('#sum_' + percent[i]['id']).html(((result / 100.0) * percent[i]['val']).toFixed(2))
  #        result = result + (result / 100.0) * percent[i]['val']
  #        i++
  #      $('#item_weight').val(weight_result.toFixed(2))
  #      $('#item_price').val(result.toFixed(2))


  sum_field = document.getElementsByClassName('sum_field')
  unit_field = document.getElementsByClassName('unit-field')
  weight_field = document.getElementsByClassName('weight_class')
  #sumWeight(sum_field, unit_field, weight_field)

    #  @materialDetailsIds = () ->
    #    return $('.material_id_class').map(-> $(this).val()).get()
    #
    #  @itemDetailsIds = () ->
    #    return $('.item_id_class').map(-> $(this).val()).get()
    #
    #  @jobDetailsIds = () ->
    #    return $('.job_id_class').map(-> $(this).val()).get()


  if $('#item_item_type').val() == 'Материал'
    $('.hidden-element').css('display': 'none')
    $('#item-details-table-body').html('')
    $('#item_price').attr('readonly', false)

  window.materialDetailsTable = $('#material-details-datatable').DataTable
    bServerSide: true
    "language": window.dataTableJson
    ajax:
      url: $('#material-details-datatable').data('source')
      dataType: 'json'
      cache: false
      type: 'GET'
      data: (d) ->
        myData = {ids: materialDetailsIds()}
        if myData
          $.extend d, myData
        return

  window.itemDetailsTable = $('#item-details-datatable').DataTable
    bServerSide: true
    "language": window.dataTableJson
    ajax:
      url: $('#item-details-datatable').data('source')
      dataType: 'json'
      cache: false
      type: 'GET'
      data: (d) ->
        myData = {ids: itemDetailsIds(), id: itemId()}
        if myData
          $.extend d, myData
        return

  window.jobDetailsTable = $('#job-details-datatable').DataTable
    bServerSide: true
    "language": window.dataTableJson
    ajax:
      url: $('#job-details-datatable').data('source')
      dataType: 'json'
      cache: false
      type: 'GET'
      data: (d) ->
        myData = {ids: jobDetailsIds()}
        if myData
          $.extend d, myData
        return


  window.itemItemGroupTable = $('#items_item_group_datatable').DataTable
    bServerSide: true
    "language": window.dataTableJson
    ajax:
      url: $('#items_item_group_datatable').data('source')
      dataType: 'json'
      cache: false
      type: 'GET'
      data: (d) ->
        myData = {ids: jobDetailsIds()}
        if myData
          $.extend d, myData
        return



  $ ->
    $('body').on 'click', '.datatable-radio', (event) ->
      event.stopPropagation()
      elem = document.getElementById(this.id)
      $('#item_item_group_form').submit()
    #При натисканні на радіобатон при виборі матеріала сабмітим форму
    #    $('body').on 'click', '.datatable-radio', (event) ->
    #      event.stopPropagation()
    #      elem = document.getElementById(this.id)
    #      #      $('#material_details_form').submit()
    #      $('#submit_materials_form').click

    # Перезавантаження даних до таблиць details для item
    $('#add-item-details-to-item').click ->
      window.itemDetailsTable.ajax.reload()

    $('#add-material-details-to-item').click ->
      window.materialDetailsTable.ajax.reload()

    $('#add-job-details-to-item').click ->
      window.jobDetailsTable.ajax.reload()

    $('#item_item_type').change ->
      if $(this).val() == 'Материал'
        $('.hidden-element').css('display': 'none')
        $('#item-details-table-body').html('')
        $('#item_price').attr('readonly', false)
      else
        if $('#item_unit').val() != '%'
          $('.hidden-element').css('display': 'block')
          $('#item_price').attr('readonly', true)


    $('#item_unit').change ->
      if $(this).val() == '%'
        $('.hidden-element').css('display': 'none')
        $('#item-details-table-body').html('')
        $('#item_price').attr('readonly', false)
      else
        if $('#item_item_type').val() != 'Материал'
          $('.hidden-element').css('display': 'block')
          $('#item_price').attr('readonly', true)


    $('form').on 'keypress', (e) ->
      if e.keyCode == 13
        return false

    $('.calculated_field').on 'click', (e) ->
      $(this).select()

    # внесено зміни до поля кількості
    $('.calculated_field').on 'keyup', (e) ->
      re = /[а-яА-Яa-zA-Z]/
      if re.test($(this).val()) == false
        # Вираховування суми позиції в якій змінено кількість
        id = $(this).data('counter')
        qty = $('#qty_' + id).val()
        price = $('#price_' + id).html()
        $('#sum_' + id).html((qty * price).toFixed(2))

        #sumWeight(sum_field, unit_field, weight_field)

        if e.keyCode == 13
          index = $(this).data('counter') + 1
          $("input.calculated_field[data-counter='" + index + "']").select()


