- @item_details.each_with_index do |item, item_counter|
  - item_qty = item[1]
  - position = item_counter + 1
  - item_sum = Float(item[0].price) * Float(item_qty)
  %tr{class: 'position_details_line', 'data-position': position}
    %td{style: 'display: none'}
      = text_field_tag 'details[id][]', item[0].id, id: "item_id_#{item_counter}", class: "#{item[0].class.to_s.downcase}_id_class"
    %td{style: 'display: none'}
      - if item[0].class == Item || item[0].class == Material
        = text_field_tag 'item_weight', item[0].weight.present? ? item[0].weight : 0, id: "item_weight_#{item_counter}", class: 'weight_class', 'data-counter': item_counter
      -else
        = text_field_tag 'item_weight', 0, id: "item_weight_#{item_counter}", class: 'weight_class', 'data-counter': item_counter
    %td{style: 'display: none'}
      = text_field_tag 'details[details_type][]', item[0].class.to_s, id: "type_item_#{item_counter}"
    %td.position{style: 'text-align: center;'}
      = label_tag 'position', position, class: 'position-label'
      .position-menu
        .link-menu
          = link_to '', class: 'up_item_details', onclick: 'moveTrPositionDetails(event, this, -1);' do
            %i.fa.fa-arrow-up
        .link-menu
          = link_to '', class: 'down_item_details', onclick: 'moveTrPositionDetails(event, this, 1);' do
            %i.fa.fa-arrow-down
    %td
      = item[0].name
    - if item[0].class == Item || item[0].class == Material
      %td.unit-field{'data-counter': item_counter, id: "unit_#{item_counter}"}
        = item[0].unit
    -else
      %td.unit-field{'data-counter': item_counter, id: "unit_#{item_counter}"}
        шт
    %td
      = number_field_tag 'details[qty][]', item_qty, step: 0.000001, class: 'form-control calculated_field', id: "qty_#{item_counter}", 'data-counter': item_counter
    %td{id: "price_#{item_counter}"}
      = item[0].price
    %td.sum_field{id: "sum_#{item_counter}", 'data-counter': item_counter}
      = item_sum
    %td.table-4
      = check_box_tag 'details[print][]', item[0].id, item[2].present? ? true : false, {id: "print_#{item_counter}"}
    %td.remove_row{id: "remove_#{item_counter}", 'data-counter': item_counter}

