%tr
  %td{style: 'display: none'}
    = text_field_tag "item[id][]", item.id, id: "item_id_#{item.id}"
  %td
    = item.name
  %td
    = item.unit
  %td
    = number_field_tag 'item[qty][]', 0, step: 0.01, class: 'form-control calculated_field', id: "qty_#{item.id}", 'data-id': item.id, 'data-count': item_counter
  %td{id: "price_#{item.id}"}
    = item.price
  %td.sum_field{id: "sum_#{item.id}"}
    0
  %td.sum_field{id: "sum_#{item.id}"}
    = link_to '', remote: true, class: 'remove-table-row' do
      %i.fa.fa-times-circle

-unless item_counter > 0
  :coffee
    $ ->
      qty_input = document.getElementsByClassName('sum_field')

      $('.calculated_field').on 'click', (e) ->
        $(this).select()

      $('.calculated_field').on 'keyup', (e) ->
        re = /[а-яА-Яa-zA-Z]/
        if re.test($(this).val()) == false
          #re = /[,]/
          #if re.test($(this).val()) == true
            #$(this).val($(this).val().replace(",","."))
          id = $(this).data('id')
          qty = $('#qty_' + id).val()
          price = $('#price_' + id).html()
          $('#sum_' + id).html((qty * price).toFixed(2))
          i = 0
          result = 0
          while i < qty_input.length
            result = result + parseFloat($(qty_input[i]).html())
            i++
          $('#item_price').val(result.toFixed(2))

          if e.keyCode == 13
            index = $(this).data('count') + 1
            $("input.calculated_field[data-count='" + index + "']").select()

