= form_for @worker do |f|
  .form-group
    = f.label :fio, 'Фамилия Имя Отчество'
    = f.text_field :fio, class: 'form-control validate-field'
  .form-group
    = f.label :position, 'Должность'
    = f.text_field :position, class: 'form-control validate-field'
  .form-group
    = f.submit 'Сохранить', class: 'btn btn-success'
    = link_to 'Отмена', root_path(active_tab: 'worker'), class: 'btn btn-danger'