.col-md-12
  .col-md-2
    - if @material.id.present?
      = link_to copy_material_path(@material.id), class: 'btn btn-default', title: 'Копировать' do
        %i.fa.fa-clone
      -if can? :manage, :all
        = link_to material_path(@material.id), method: :delete, class: 'btn btn-default', title: 'Удалить', data: {confirm: 'Точно удалить?'} do
          %i.fa.fa-trash

= form_for @material, html: {class: 'submit-form'} do |f|
  .col-md-12
    .col-md-12
      .col-md-6
        -if can? :manage, :all
          .form-group
            = f.label :manual_write_off, 'Ручной ввод количества материала при его списании'
            = f.check_box :manual_write_off, class: 'form-control'
        .form-group
          = f.label :round_one, 'Округлять количество материал до целого'
          = f.check_box :round_one, class: 'form-control'
        .form-group
          = f.label :name, 'Наименование'
          = f.text_field :name, class: "form-control validate-field #{flash[:class_element]}"
        .form-group
          = f.label :unit, 'Ед. измерения'
          = f.select :unit, ['шт', 'м/п', 'кг'], {}, {class: 'form-control validate-field'}
        .form-group
          = f.label :price, 'Цена'
          = f.number_field :price, step: 0.001, class: "form-control validate-field #{flash[:class_element]}"
        .form-group
          = f.label :weight, 'Вес'
          = f.number_field :weight, step: 0.001, class: "form-control validate-field #{flash[:class_element]}"
        .form-group
          = f.label :area, 'Площадь'
          = f.number_field :area, step: 0.0001, class: 'form-control'
        .form-group
          = f.label :volume, 'Объем'
          = f.number_field :volume, step: 0.00000001, class: 'form-control'
        .form-group
          = f.label :size_l, 'L'
          = f.number_field :size_l, step: 1, class: 'form-control'
        .form-group
          = f.label :size_a, 'A'
          = f.number_field :size_a, step: 1, class: 'form-control'
        .form-group
          = f.label :size_b, 'B'
          = f.number_field :size_b, step: 1, class: 'form-control'
        .form-group
          = f.label :note, 'Примечание'
          = f.text_area :note, class: 'form-control'

  .col-md-12
    .form-group
      = button_tag 'Сохранить', class: 'btn btn-success'
      = link_to 'Отмена', root_path(active_tab: 'material'), class: 'btn btn-danger'
