.col-md-12
  .col-md-2
    - if @material.id.present?
      = link_to copy_material_path(@material.id), class: 'btn btn-default', title: t('all_form.copy') do
        %i.fa.fa-clone
      -if can? :manage, :all
        = link_to material_path(@material.id), method: :delete, class: 'btn btn-default', title: t('all_form.delete'), data: {confirm: t('all_form.confirm_delete')} do
          %i.fa.fa-trash
      = link_to t('all_form.include_in'), item_inclusions_material_path, class: 'btn btn-default', title: t('all_form.include_in'),
       remote: true, 'data-toggle': 'modal', 'data-target': '#item-inclusions-modal'

= form_for @material, html: {class: 'submit-form'} do |f|
  .col-md-12
    .col-md-12
      .col-md-6
        -if can? :manage, :all
          .form-group
            = f.label :manual_write_off, 'Ручной ввод количества материала при его списании'
            = f.check_box :manual_write_off, class: 'form-control'
        .form-group
          = f.label :round_one, 'Округлять количество материал до целого'
          = f.check_box :round_one, class: 'form-control'
        .form-group
          = f.label :name, t('all_form.name')
          = f.text_field :name, class: "form-control validate-field #{flash[:class_element]}"
        .form-group
          = f.label :unit, t('all_form.unit')
          = f.select :unit, ['шт', 'м/п', 'кг'], {}, {class: 'form-control validate-field'}
        .form-group
          = f.label :price, t('all_form.price')
          = f.number_field :price, step: 0.001, class: "form-control validate-field #{flash[:class_element]}"
        .form-group
          = f.label :weight, t('all_form.weight')
          = f.number_field :weight, step: 0.001, class: "form-control validate-field #{flash[:class_element]}"
        .form-group
          = f.label :area, t('all_form.area')
          = f.number_field :area, step: 0.0001, class: 'form-control'
        .form-group
          = f.label :volume, t('all_form.volume')
          = f.number_field :volume, step: 0.00000001, class: 'form-control'
        .form-group
          = f.label :size_l, 'L'
          = f.number_field :size_l, step: 1, class: 'form-control'
        .form-group
          = f.label :size_a, 'A'
          = f.number_field :size_a, step: 1, class: 'form-control'
        .form-group
          = f.label :size_b, 'B'
          = f.number_field :size_b, step: 1, class: 'form-control'
        .form-group
          = f.label :note, t('all_form.note')
          = f.text_area :note, class: 'form-control'
        -if can? :manage, :superuser
          .form-group
            = f.label :qty, 'Кількість'
            = f.number_field :qty, step: 0.001, class: 'form-control'

  .col-md-12
    .form-group
      = button_tag t('all_form.save'), class: 'btn btn-success'
      = link_to t('all_form.cancel'), cancel_button_path(returning_entity: 'material'), class: 'btn btn-danger'

= render partial: 'layouts/modal_item_inclusions'