!!!
%html
  %head
    %title Manufacturing
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
  %body
    .wrapper
      .main-menu
        - if current_user.present?
          = current_user.email
          |
          =link_to 'Выход', destroy_user_session_path, method: :delete
      .wrapper-yield
        = yield
